*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('patterns.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.symbols {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: #fff;
}

.flex .logo {
  width: 100%;
}

.flex .logo svg {
  width: 100%;
}

.logo--black {
  color: #000;
}
